.search-result-container-blur{
    display: none;
}

.search-result-item-active{
    background-color: var(--background-color-2);
}

@media screen and (max-width:1250px) {
    .search-result-container-blur{
        display: block;
    }
}